<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <description>系统全局配制文件</description>
    <param-name>systemConfigLocation</param-name>
    <param-value>config.properties</param-value>
  </context-param>
  <listener>
    <description>系统全局初始化</description>
    <listener-class>org.yuantai.system.web.listener.ApplicationListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>权限验证过滤器</description>
    <filter-name>authFilter</filter-name>
    <filter-class>
			org.yuantai.system.web.filter.AuthFilter
		</filter-class>
    <init-param>
      <description>配置排除验证的URL地址--支持正则表达式,多个地址以逗号隔开</description>
      <param-name>exclude-url</param-name>
      <param-value>
			/skins/.*,
			.*\.(js|css|png|jpg|gif),
			/|/index.jsp,
			/login(/.*)?,
			/test/.*,
			/pages/workflow/diagram-viewer/.*,
			/MP_verify_MiPWqZJRAQc6EhRo.txt
		</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>skinFilter</filter-name>
    <filter-class>org.yuantai.system.web.filter.SkinFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>skinFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>spring-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-mvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
        <servlet-name>spring-mvc</servlet-name>  
        <url-pattern>/hessian/*</url-pattern>     
    </servlet-mapping>  
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/system/druid/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>/yuantai-tags</taglib-uri>
      <taglib-location>/WEB-INF/tld/yuantai-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>