.topleft,
.topright, .header-bg, .header,.none-bgi ,.nav li a.selected{ background-image: none !important; }
.topleft{ height: auto;}

.topleft img {
				margin-top: 0;
				margin-left: 10px;
				height: 51px;
}
.topright{ height: auto;}
.topright .user{ clear: none;}
.topright ul li a{ color: #333;}
.topright ul li a:hover{ color: #444;}

.nav li{ height: auto; margin-top: 15px;}
.nav li a{ height: auto; }
.nav a h2{ color: #222;}
.nav li a:hover  { background-color: transparent; }
.nav a:hover h2 { color: #444; }
.nav li a.selected h2{    color: #00b395;}

.header{ height: 51px;}


div.menubox .tree-expanded,div.menubox .tree-collapsed,div.menubox .tree-folder,div.menubox .tree-file,div.menubox .tree-checkbox,div.menubox .tree-indent{ position: relative; top: 12px; left: 16px;}
div.menubox{ background-color: #fff; padding: 0;}
div.menubox{ }
div.menubox .tree-hit { }
div.menubox .tree-node{ padding: 0; height: auto; position: relative;}
div.menubox .tree-title{ padding: 13px 0 13px 39px }
div.menubox .tree-icon{ display: none; }
.tree-node-hover {
				background-color: #eaecec !important;
}
.tree-node-selected{ background-color: #00dbb7!important; }

.layout-panel-west .tree-node{ padding: 5px 0!important;}

.accordion .accordion-header .panel-title{ padding-left: 54px;}
.accordion .accordion-header-selected{ background-color: transparent!important; border-bottom: 1px solid #00b395!important; border-top-width: 0;}

#leftmenu .accordion-header{ padding: 13px 0; width: auto!important; background-color: transparent!important; overflow: hidden;}
#leftmenu .icon-menu-title:before{ content: "\f0f6";}
#leftmenu .icon-menu-title{ width: 45px; height: 45px; line-height: 45px!important;   left: 0; top: 0; margin-top: 0; background-color: #f6f6f6; color: #000; background-image: none !important;  font: normal normal normal 14px/1 FontAwesome; text-align: center;}
#leftmenu .accordion-header-selected .icon-menu-title{ background-color: #00b395; color: #fff;}

/*tab*/
.tabs-header, .tabs-tool{ background-color: transparent !important;}
.layout-panel-center .tabs{ height: 42px !important;}
.layout-panel-center .tabs-inner{ height: 42px !important;}
.layout-panel-center .tabs-icon{ display: none;}
.layout-panel-center .tabs-with-icon{ padding: 0 8px !important; font-size: 14px;}
.layout-panel-center .tabs li.tabs-selected a.tabs-inner { background-color: #fff; }
.layout-panel-center .tabs li a.tabs-inner{ background-color: #f6f6f6;}

/*弹窗*/
.window{ padding: 0!important; background-color: #fff!important;    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);border: 1px solid rgba(0, 0, 0, .2); border-radius: 6px; outline: 0;}
.window .panel-title{ font-size: 16px;}
.window .window-header{ padding: 15px 0px 15px 15px!important;}
.window .window-header .panel-tool { right: 16px!important; }
.window .dialog-button .l-btn-icon{ display: none;}
.window .dialog-button .l-btn-icon-left .l-btn-text { margin: 0 4px 0 4px; }

.l-btn { display: inline-block; padding: 6px 12px!important; margin-bottom: 0!important; font-size: 14px!important; font-weight: normal!important; line-height: 1.42857143!important; text-align: center!important; white-space: nowrap!important; vertical-align: middle!important; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none!important; border: 1px solid transparent!important; border-radius: 4px!important; outline: none!important;
}

 .l-btn{color: #58666e !important; background-color: #fff!important; border-color: #dee5e7!important; border-bottom-color: #d8e1e3!important; -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1)!important; box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1)!important;}
.l-btn:hover{    color: #58666e !important;
				background-color: #edf1f2!important;
				border-color: #c7d3d6!important;}

.window .window-body{ border: none !important;}
.window, .window .window-body div{ font-size: 14px !important;}

.window .panel-body{ background-color: #fff !important; padding: 1px 0 0!important;}
.window .messager-icon{ visibility: hidden;}
.window .messager-button{ padding-bottom: 15px;}
/*icon*/
.icon-search{ background-image: none !important; font-size: 13px!important;   font-family: 'Simple-Line-Icons';}
.icon-search:before{content: "\e090";}


/*iframe*/
#leftmenu{ background-color: transparent!important;}
.panel-header, .panel-body{ border-color: #dee5e7!important;}

/*table*/
.datagrid-header{ background-color: #fff!important;}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
				background: #f6f8f8!important;
}

.datagrid-header .datagrid-cell span{ font-size: 14px !important;}

.datagrid-header td, .datagrid-body td, .datagrid-footer td{ padding: 9px 0!important;border-color: #eaeff0 !important;}

.datagrid-row-alt { background: #fafbfc!important; }
.datagrid-row-selected{ background-color: #00dbb7 !important;}
.datagrid-htable, .datagrid-btable, .datagrid-ftable {
				background: #fff!important;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{ font-size: 14px !important;}
.datagrid-toolbar{ padding: 14px 0 14px 15px!important ; background-color: #fff !important;}
/*重置common.css*/
form.dialog-data-form{ border: none;}
input[type='text'],textarea,select{height: 34px!important;
				padding: 6px 12px!important;
				font-size: 14px;
				line-height: 1.42857143;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;border-radius: 4px;}

.pagination .pagination-num{ width: 51px !important; text-align: center !important;}
.pagination .pagination-page-list{ width: 81px !important; text-align: center !important;}
.pagination td{ padding: 0 6px;}


/**/
.dialog-data-form{}
.combo-p .combobox-item{ height: 22px; line-height: 22px;}
.combo-p .combo-panel{ }
.dialog-data-form .combo-arrow{ background-color: transparent !important; vertical-align: middle !important;}
.dialog-data-form .combo{ height: auto !important; border-radius: 4px; color: #ccc;}

/**/
.tree-icon.tree-file.icon-star:before{ display: none;}
.tree-icon.tree-folder.icon-folder:before{ display: none;}